@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middles;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #191d22;
  color: white;
  padding: 1em;
}

nav img {
  vertical-align: middle;
}

.navbar-links-wrapper {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}

.navbar-links-wrapper a {
  color: orange;
}

.navbar-links-wrapper a:hover {
  color: white;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #272d35;
  color: white;
  padding: 1em;
}

.single-product-container {
  width: 80%;
  /* height: 1000px;  */
  font-size: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 25px auto 25px auto;
}

.single-product-container--image {
  display: block;
  width: 100%;
  /* height: 100%; */
  max-width: 300px;
  /* max-height: 300px; */
  border-radius: 9px;
  margin-bottom: 9px;
  margin: 0 auto;
}

.single-product-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  padding: 10px 10px;
  font-weight: 900;
  font-size: 24px;
}

.single-product-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  padding: 10px 10px;
  font-weight: lighter;
}

.single-product-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.single-product-buttons-wrapper :hover {
  background-color: orange;
}

.checkout-form-container {
  width: 50%;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.checkout-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 1em;
  background-color: rgb(6, 226, 6) ;
}

.checkout-button-wrapper :hover {
  background-color: orange;
}

.cart-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 200px;
}

.cart-buttons-wrapper :hover {
  background-color: orange;
}

.cart-container {
  width: 50%;
  height: calc(100vh - 60px);
  font-size: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.cart-container--image {
  display: block;
  width: auto;
  /* height: 100%; */
  max-width: 200px;
  max-height: 200px;
  border-radius: 9px;
  margin-bottom: 9px;
  margin: 0 auto;
}

.cart-container-card {
  width: 100%;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  margin-top: 40px;
}

.cart-total {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 15px;
}

.cart-wrapper {
  display: flex;
  padding: 40px;
  box-shadow: 10px 10px 5px lightgray;
}

.cart-wrapper--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  justify-content: center;
}

.all-products-container {
  width: 100%;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.all-products-container-card {
  width: 25%;
  box-shadow: 10px 10px 5px lightgray;
  border-radius: 5px;
}

.all-products-container-card-wrapper {
  padding: 40px;
}

/* .all-products-title {
  font-variant: normal;
} */

.all-products-container--image {
  display: block;
  width: auto;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 9px;
  margin-bottom: 9px;
  margin: 0 auto;
}

.product-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 150px;
  margin: 0.8em auto;
}

.product-rating-star img {
  width: 20px;
  height: 20px;
}

.product-buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.product-buttons-wrapper :hover {
  background-color: orange;
}

/* .login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
} */

.login-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.login-button-wrapper :hover {
  background-color: orange;
}

.signUp,
.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

.signUp-body {
  height: calc(100vh - 40px);
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
}

.signUp-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 1em;
}

.signUp-button-wrapper :hover {
  background-color: orange;
}

/* BREAKPOINTS */
@media screen and (max-width: 1024px) {
  .all-products-container-card {
    width: 33%;
  }
}
@media screen and (max-width: 768px) {
  .all-products-container-card {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .all-products-container-card {
    width: 100%;
  }
}
